<html ng-app="chat">

  <head>
    <title>AngularJS / Firebase Chatroom</title>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  </head>
  
  <body>

    <div ng-controller="ChatController">
      <div class="well" ng-show="user">
        <form class="form-inline">
          Your name: <input type="text" ng-model="username" ng-diable="user">
        </form>
        <div ng-cloak ng-repeat="message in messages">
          <em>{{message.from}}: </em>{{message.content}}
        </div><br />
        <form class="form-inline" ng-submit="addMessage()">
          <input type="text" ng-model="message" placeholder="Message...">
          <button class="btn" type="submit">
            <i class="icon-reply"> Send</i>
          </button>
        </form>
      </div>

      <div class="well" ng-hide="user">
        <button class="btn" ng-click="login()">Login with Github</button>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.1.5/angular.min.js"></script>
    <script src="https://cdn.firebase.com/v0/firebase.js"></script>
    <script src='https://cdn.firebase.com/v0/firebase-simple-login.js'></script>
    <script src="https://cdn.firebase.com/libs/angularfire/0.3.0/angularfire.min.js"></script>

    <script type="text/javascript">
      angular.module('chat', ['firebase']).
        factory('safeApply', [function($rootScope) {
          return function($scope, fn) {
            var phase = $scope.$root.$$phase;
            if(phase == '$apply' || phase == '$digest') {
              if(fn) {
                $scope.$eval(fn);
              }
            } else {
              if(fn) {
                $scope.$apply(fn);
              } else {
                $scope.$apply();
              }
            }
          };
        }]).
        controller('ChatController', ['$scope', 'safeApply', 'angularFire',
          function($scope, safeApply, angularFire) {

            var ref = new Firebase('https://gh-chat.firebaseio.com');
            var authClient = new FirebaseSimpleLogin(ref, function(error, user) {
              if(error) {
                console.log("Error: ", error);
              } else if(user) {
                // log the user into the app
                $scope.user = user;
                $scope.username = user.username;

              } else {

                $scope.user = null;

              }
              safeApply($scope);
            });
            
            $scope.messages = [];
            $scope.username = 'Guest' + Math.floor(Math.random()*101);
            $scope.addMessage = function() {
              $scope.messages.push({
                from: $scope.username, content: $scope.message
              });
              $scope.message = '';
            };
            angularFire(ref, $scope, "messages");

            $scope.login = function() {
              console.log('logging in');
              authClient.login('github');
            };

            $scope.logout = function() {
              authClient.logout();
            };

          }]);
    </script>
  </body>
  
</html>