<html>

  <head>
    <title>AngularJS / Firebase Chatroom</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  </head>
  
  <body>

    <div class="well" ng-app="chat" ng-controller="ChatController">
      <form class="form-inline">
        Your name: <input type="text" ng-model="username">
      </form>
      <div ng-cloak ng-repeat="message in messages">
        <em>{{message.from}}: </em>{{message.content}}
      </div><br />
      <form class="form-inline" ng-submit="addMessage()">
        <input type="text" ng-model="message" placeholder="Message...">
        <button class="btn" type="submit">
          <i class="icon-reply"> Send</i>
        </button>
      </form>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script src="https://cdn.firebase.com/v0/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/0.3.0/angularfire.min.js"></script>

    <script type="text/javascript">
      angular.module('chat', ['firebase']).
        controller('ChatController', ['$scope', 'angularFire',
          function($scope, angularFire) {
            var ref = new Firebase('https://gh-chat.firebaseio.com');
            angularFire(ref.limit(15), $scope, "messages");
            $scope.username = 'Guest' + Math.floor(Math.random()*101);
            $scope.addMessage = function() {
              $scope.messages[ref.push().name()] = {
                from: $scope.username, content: $scope.message
              };
              $scope.message = '';
            };
          }]);
    </script>
  </body>
  
</html>